ANTHROPIC_API_KEY=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql+asyncpg://sillage:${POSTGRES_PASSWORD}@postgres:5432/sillage
REDIS_URL=redis://redis:6379
OPENAI_API_KEY=
CRAWLER_TARGET_BRANDS=Dior,Chanel,Tom-Ford,Creed,Jo-Malone-London,Diptyque,Le-Labo,Maison-Margiela,Byredo,Acqua-di-Parma,Guerlain,Hermes,Yves-Saint-Laurent,Giorgio-Armani,Versace
CRAWLER_MAX_PAGES_PER_BRAND=200
